<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogLevel="info" internalLogFile="internalLog.txt">
  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>
  
  <!-- Targets are where logs get written -->
  <targets>
    <!-- Main file log -->
    <target 
      xsi:type="File" 
      name="main" 
      fileName="..\logs\log-${shortdate}.log" 
      layout="${longdate}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
    
    <!-- Microsoft log file for internal logs -->
    <target 
      xsi:type="File" 
      name="microsoft" 
      fileName="..\logs\log-ms-${shortdate}.log"
      layout="${longdate}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
  </targets>
  
  <!-- Rules map from logger to target -->
  <rules>
    <logger name="Microsoft.*" minlevel="Trace" writeTo="microsoft" final="true" />
    <logger name="*" minlevel="Trace" writeTo="main" />
  </rules>
</nlog>
